/* Nanum Pen Script Font Family */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/*  Includes padding and border in the element's total width and height 
	The '*' makes this a property for every tag on the .html file
*/
* {
  box-sizing: border-box;
}

/* 
Code to fill the full page height with content taken from "https://stackoverflow.com/questions/712689/css-div-stretch-100-page-height".
*/

/* Fill page height (html part) */
html {
  min-height: 100%;
  position: relative;
}

/* Fill page height (body element part) */
body {
  height: 100%;
}

.font-nanum-pen-script {
  font-family: 'Nanum Pen Script', cursive;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-black {
  color: black;
}

.text-author {
  color: rgb(15, 30, 45);
}

.text {
  font-family: cambria;
  font-size: 21px;
  font-weight: bold;
  padding: 0 20px;
}

.space{
  margin-left: 75%;
}

.new-nav-padding {
  padding: 5px 250px;
}

.box-padding {
  padding: 100px 10px;
}

.box-border {
  border-top: solid;
  border-color: gray;
  border-width: 1px;
}

.img-padding {
  margin: 25px auto;
}

.navbar-bg {
  background-color: rgb(15, 157, 88);
}

.portfolio {
  background-color: rgb(23, 236, 236);
}

h2 {
  font-family: calibri;
  font-weight: 800;
}

.contact {
  width: 50px;
  height: 40px;
}