/* Tic-Tac-Toe .css file
   03/03/2018 11:25
 */

/* Ubuntu Font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

/* Nanum Pen Script Font Family */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* Permanent Marker Font Family */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/*  Includes padding and border in the element's total width and height 
	The '*' makes this a property for every tag on the .html file
*/
* {
  box-sizing: border-box;
}

/* 
Code to fill the full page height with content taken from "https://stackoverflow.com/questions/712689/css-div-stretch-100-page-height".
*/

/* Fill page height (html part) */
html {
  min-height: 100%;
  position: relative;
}

/* Fill page height (body element part) */
body {
  height: 100%;
  background-color: rgb(119, 136, 153);
}

.font-marker {
	font-family: 'Permanent Marker', cursive;
	font-weight: 700;
  font-size: 80px;
  text-align: center;
  color: rgba(230, 235, 240, .8);
}

.font-ubuntu-500 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

.font-ubuntu-400 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

.font-nanum-pen-script {
  font-family: 'Nanum Pen Script', cursive;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-black {
  color: black;
}

.text-author {
  color: rgb(15, 30, 45);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

.tic-tac-toe {
  background-color: rgb(15, 5, 15);
  margin: 100px auto;
  height: 400px;
  width: 400px;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0px rgba(10, 15, 10, .7);
}

.content-box {
  display: grid;
  height: 360px;
  width: 360px;
  margin: 0;
  padding: 0;
  grid-gap: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

div.border-right {
  border-right: 2px solid rgba(250, 250, 250, 0.8);
}

div.border-left {
  border-left: 2px solid rgba(250, 250, 250, 0.8);
}

div.border-top {
  border-top: 2px solid rgba(250, 250, 250, 0.8);
}

div.border-bottom {
  border-bottom: 2px solid rgba(250, 250, 250, 0.8);
}

div.border-all {
  border: 2px solid rgba(250, 250, 250, 0.8);
}

div:empty:before {
  content: 'O';
  color: rgba(0, 0, 0, 0);
}