/* Tic-Tac-Toe .css file
   03/03/2018 11:25
 */

/* Ubuntu Font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

/* Nanum Pen Script Font Family */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* Permanent Marker Font Family */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/*  Includes padding and border in the element's total width and height 
	The '*' makes this a property for every tag on the .html file
*/
* {
  box-sizing: border-box;
}

/* 
Code to fill the full page height with content taken from "https://stackoverflow.com/questions/712689/css-div-stretch-100-page-height".
*/

/* Fill page height (html part) */
html {
  min-height: 100%;
  position: relative;
}

/* Fill page height (body element part) */
body {
  height: 100%;
  background-color: rgb(119, 136, 153);
}

/* Permanent marker class */
.font-marker {
	font-family: 'Permanent Marker', cursive;
	font-weight: 700;
  font-size: 80px;
  text-align: center;
  color: rgba(230, 235, 240, .8);
}

/* Ubuntu font bold=500 class */
.font-ubuntu-500 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: rgba(230, 235, 240, .8);
}

/* Ubuntu font class */
.font-ubuntu {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: rgb(10, 70, 20);
}

/* Footer font class */
.font-nanum {
  font-family: 'Nanum Pen Script', cursive;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: white;
}

/* Footer positioning class */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Black font class */
.text-white {
  color: white;
  font-size: 50px;
  font-family: 'Nanum Pen Script';
}

/* Coder link font class */
.text-author {
  color: rgb(15, 30, 45);
}

/* Decoration and hover animation for the my Codepen page link */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Tic Tac Toe table */
.tic-tac-toe {
  background-color: rgb(15, 5, 15);
  margin: 0px auto 100px auto;
  height: 400px;
  width: 400px;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0px rgba(10, 15, 10, .7);
}

/* Hides content */
.hidden {
  display: none !important;
}

/* Grid settings */
.content-box {
  display: grid;
  height: 360px;
  width: 360px;
  margin: 0;
  padding: 0;
  grid-gap: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Grid box settings */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/* Classes to create the table borders */
div.border-right { border-right: 2px solid rgba(250, 250, 250, 0.8); }
div.border-left { border-left: 2px solid rgba(250, 250, 250, 0.8); }
div.border-top { border-top: 2px solid rgba(250, 250, 250, 0.8); }
div.border-bottom { border-bottom: 2px solid rgba(250, 250, 250, 0.8); }
div.border-all { border: 2px solid rgba(250, 250, 250, 0.8); }

/* Content to fill the empty boxes, avoiding vertical collapse */
div:empty:before {
  content: 'O';
  color: rgba(0, 0, 0, 0);
}

/* Scoreboard class */
.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto 0px auto;
  width: 360px;
}

/* Scoreboard boxes settings */
.box2 {
  display: flex;
  width: 100px;
  justify-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: auto 10px;
  background-color: rgb(230, 240, 250); 
}

/* Turn box style */
.turn {
  background-color: rgb(120, 200, 170);
  color: rgb(100, 120, 180);
}

/* Settings style */
.settings {
  display: flex;
  flex-direction: column;
  width: 360px;
  justify-content: center;
}

.box3 {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: auto 20px;
}

/* Button 1 without backgroud */
.button {
  display: inline-block;
  width: 130px;
  height: 70px;
  margin: auto 15px;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  user-select: none;
  background-color: rgb(15, 5, 15);
}

.button:hover {
  border: 2px dotted rgba(40, 60, 150, 0.9);
  border-radius: 20px;
}